/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #3a9c7f;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Styling for sections */
.section {
  padding: 40px 0;
  background-color: #ffffff;
  margin-bottom: 20px;
}
#history {
  padding: 40px 0;
  background-color: #ffffff;
  margin-bottom: 20px;
}
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}
h3 {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.members-list {
  list-style-type: none;
  padding-left: 20px;
}

.members-list li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.members-list li::before {
  content: "• "; /* Adds a bullet point before each name */
  color: #3a9c7f; /* Green color for bullet */
  font-size: 1.5em;
  margin-right: 10px;
}

.members-list li:hover {
  background-color: #f0f8f0; /* Light green background on hover */
  cursor: pointer;
  padding-left: 10px;
}


ul {
  list-style-type: square;
  margin-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #3a9c7f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #3a9c7f;
  color: white;
  text-align: center;
  padding: 15px 0;
}

footer p {
  font-size: 1em;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header h1 {
    font-size: 2em;
  }

  nav ul {
    padding-top: 10px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  h2 {
    font-size: 1.8em;
  }

  footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
  }

  nav ul li a {
    font-size: 1.2em;
  }

  .section {
    padding: 20px 0;
  }

  h2 {
    font-size: 1.5em;
  }

  footer p {
    font-size: 0.8em;
  }
}
/* Attractions Section */
.attraction-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.attraction-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-right: 5px solid #77aaff;
}

.attraction-info {
  padding: 15px;
}

.attraction-info h3 {
  margin-top: 0;
  color: #333;
}

.attraction-info p {
  color: #666;
  line-height: 1.6;
}


